/******************************************************************
Site Name: C/O Stad
Author: Henrik Rosengren (http://bysted.se)

Stylesheet: Desktop Stylsheet

******************************************************************/

.wpb_row {
    max-width: 55em;
}

#breadcrumbs {
    max-width: 55em;
}

/*********************
LINK STYLES
*********************/

.nav-box {
    
    .wpb_column {
        
        a {
            font-size: 1em;    
        }
    }
}