/******************************************************************
Site Name: C/O Stad
Author: Henrik Rosengren (http://bysted.se)

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/

/*********************
PODCAST
*********************/

.wpb_teaser_grid .entry-content {
    width: 60%;
    float: left;
}

.podcast .wpb_teaser_grid .entry-content {
    width: 100%;
}

/*********************
MODAL BOX
*********************/

.ult_modal-body img {
    float: left;
    margin: 0 15px 15px 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wpb_row {
    
    .wpb_row {  
    }
    
    .wpb_column {
        padding-left: 15px;
        padding-right: 15px;
    
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

/*********************
LINK STYLES
*********************/

.nav-box {
    text-align: center;
    
    .wpb_column {
        padding-left: 0.125em; 
        padding-right: 0.125em;
        
        &:first-child {
            padding-left: 0;    
        }

        &:last-child {
            padding-right: 0;    
        }
        
        a {
                
        }
    }
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
            
			&:hover, &:focus {
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 0;
    float: right;
}

	.widget {
		padding: 0 10px;
		margin-bottom: 2.2em;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}
